:host {
    display: block;
}

.container {
    width: 100%;
    height: 100%;

    outline: 2px solid var(--accent-2);

    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

    image-rendering: pixelated;
}

.display-canvas {
    cursor: crosshair;

    background-image: url("/images/bg.png");
    background-repeat: repeat;
    background-size: 16px 16px;

    z-index: 0;
}
.preview-canvas {
    background-color: transparent;
    pointer-events: none;

    z-index: 1;
}