:host {
    position: absolute;

    width: 100vw;
    height: 100vh;

    margin: 0px;


    background-color: var(--bg-1);

  overflow: hidden;
}

px-menubar {
    position: static;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 30px;

    display: flex;
    flex-direction: row;

    user-select: none;

    background-color: var(--bg-3);
}

.container {
    display: flex;
    flex-direction: column;
}
.main-container {
    width: 100vw;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}
.main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
px-viewport {
    width: 100%;
    height: 100%;
}

.sidebar {
    max-width: min(25%, 400px);
    flex-grow: 1;
}

.section {
    padding: 16px;
}
.section-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 16px;
    margin-bottom: 10px;
}
.section-header-icon {
    margin-right: 6px;
}
.section-header-title {
    margin-right: 6px;
    user-select: none;

    /* the barlow font is too much down; move the title up so it is centered */
    position: relative;
    bottom: 1px;
}
.section-header .bx {
    user-select: none;
    font-size: 16px;
}
.section-header-line {
    height: 2px;
    flex-grow: 1;
    background-color: var(--text-1);
    margin-right: 3px;
}
.section-header-buttons {
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section-header-button {
    width: 20px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-header-button>.bx {
    color: #ffffff;
    font-size: 16px;
}