@import url("/third_party/normalize.css");
@import url("/third_party/pinch-zoom.css");
@import url("https://cdn.jsdelivr.net/npm/boxicons@2/css/boxicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");

:root,
:host {
    --bg-1: #252525;
    --bg-2: #2a2a2a;
    --bg-3: #3b3b3b;
    --darken: #19191999;

    --text-1: #ffffff;
    --text-2: #000000;

    --text-disabled: #969696;

    --accent-1: #6c6c6c;
    --accent-2: #525252;
    --accent-3: #313131;
    --accent-4: #1a1a1a;

    --selected: #099cff;

    font-family: 'Barlow', 'Barlow Semi Condensed', sans-serif;
    color: var(--text-1);
}

* {
    box-sizing: border-box;

    color-scheme: dark;
}

*::-webkit-scrollbar {

}

input[type="date"]:not(.no-base-styling),
input[type="datetime-local"]:not(.no-base-styling),
input[type="email"]:not(.no-base-styling),
input[type="month"]:not(.no-base-styling),
input[type="number"]:not(.no-base-styling),
input[type="password"]:not(.no-base-styling),
input[type="search"]:not(.no-base-styling),
input[type="tel"]:not(.no-base-styling),
input[type="text"]:not(.no-base-styling),
input[type="time"]:not(.no-base-styling),
input[type="url"]:not(.no-base-styling),
input[type="week"]:not(.no-base-styling) {
    appearance: none;
    background-color: var(--bg-3);
    border: 1px solid var(--accent-2);
    font-family: 'Barlow', sans-serif;
    color: var(--text-1);
    border-radius: 5px;
}
.button:not(.no-base-styling) {
    appearance: none;
    background-color: var(--bg-3);
    border: 1px solid var(--accent-2);
    font-family: 'Barlow', sans-serif;
    color: var(--text-1);
    border-radius: 5px;

    cursor: pointer;
}
.button[data-active="true"]:not(.no-base-styling) {
    background-color: var(--bg-2);
}

input[type="date"]:focus:not(.no-base-styling),
input[type="datetime-local"]:focus:not(.no-base-styling),
input[type="email"]:focus:not(.no-base-styling),
input[type="month"]:focus:not(.no-base-styling),
input[type="number"]:focus:not(.no-base-styling),
input[type="password"]:focus:not(.no-base-styling),
input[type="search"]:focus:not(.no-base-styling),
input[type="tel"]:focus:not(.no-base-styling),
input[type="text"]:focus:not(.no-base-styling),
input[type="time"]:focus:not(.no-base-styling),
input[type="url"]:focus:not(.no-base-styling),
input[type="week"]:focus:not(.no-base-styling),
input[type="checkbox"]:focus:not(.no-base-styling) {
    border: 1px solid var(--selected);
    outline: none;
}

input[type="range"]:not(.no-base-styling) {
    appearance: none;
    border: 1px solid var(--accent-2);
    background-color: var(--bg-3);
    border-radius: 100vh;
    height: 10px;
    margin: 10px 0px;
}
input[type="range"]:not(.no-base-styling)::-webkit-slider-runnable-track {
    z-index: 0;
}
input[type="range"]:not(.no-base-styling)::-webkit-slider-thumb {
    appearance: none;
    border: 1px solid var(--accent-2);
    background-color: var(--bg-2);
    border-radius: 20px;
    height: 20px;
    width: 20px;
    z-index: 1;
}

input[type="number"]:not(.no-base-styling)::-webkit-inner-spin-button {
    opacity: 1; /* force spin buttons to always appear */
}

input[type="checkbox"]:not(.no-base-styling) {
    appearance: none;
    background-color: var(--bg-3);
    border: 1px solid var(--accent-2);
    font-family: 'Barlow', sans-serif;
    color: var(--text-1);
    border-radius: 5px;
    width: 16px;
    height: 16px;
}
input[type="checkbox"]:not(.no-base-styling):checked {
    background-color: var(--bg-1);
}
input[type="checkbox"]:not(.no-base-styling):checked::after {
    content: "";
    clip-path: polygon(50% 35.859%, 28.789% 14.648%, 14.648% 28.789%, 35.859% 50%, 14.648% 71.211%, 28.789% 85.352%, 50% 64.141%, 71.211% 85.352%, 85.352% 71.211%, 64.141% 50%, 85.252% 28.789%, 71.111% 14.648%);
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:focus {
    outline: 1px solid var(--selected);
}