body {
    position: absolute;

    width: 100vw;
    height: 100vh;

    margin: 0px;

    display: flex;
    flex-direction: row;

    background-color: var(--bg-1);
}

.main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-left: 2px solid var(--accent-2);
    border-right: 2px solid var(--accent-2);

    padding: 16px;
}
.sidebar {
    max-width: 20%;
    flex-grow: 1;
}

.section {
    padding: 16px;
}
.section-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 16px;
    margin-bottom: 10px;
}
.section-header-icon {
    margin-right: 6px;
}
.section-header-title {
    margin-right: 6px;
    user-select: none;
}
.section-header .bx {
    user-select: none;
}
.section-header-line {
    height: 2px;
    flex-grow: 1;
    background-color: var(--text-1);
    margin-right: 3px;
}
.section-header-buttons {
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section-header-button {
    width: 20px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-header-button[data-active="true"]>i {
    color: var(--selected);
}
.section-header-button>.bx {
    color: #ffffff;
    font-size: 16px;
}

.canvas {
    width: 500px;
    height: 500px;
    image-rendering: pixelated;
    cursor: crosshair;


    background-image: url("/assets/bg.png");
    background-repeat: repeat;
    background-size: 16px 16px;

    border: 2px solid var(--accent-2);
}