.menubar {
    font-size: 16px;
}

.menubar-section {
    height: 100%;
    padding: 2px 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.menubar-section[data-open="true"] {
    background-color: var(--bg-2);
}


.menubar-section-container {
    font-size: 14px;

    min-width: 200px;
    background-color: var(--bg-3);

    z-index: 9999;

    padding-bottom: 3px;
    cursor: default;
}
.menubar-section:not([data-open="true"])>.menubar-section-container {
    display: none;
}

.menubar-item:not([data-disabled="true"]):hover {
    background-color: var(--bg-2)
}
.menubar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 32px;
    padding: 8px 5px;
    cursor: pointer;
}
.menubar-item[data-disabled="true"] {
    color: var(--text-disabled);
    cursor: default;
}
.menubar-item>box-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.menubar-separator {
    width: calc(100% - 2px);
    height: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: content-box;
    border: 1px solid var(--accent-1);
}