.container {
    width: 100%;
    height: 100%;
}
.colors {
    position: relative;
}
.color, .add {
    display: inline-block;
    position: relative;

    margin-bottom: -4px;

    --color: #ffffff;

    width: 33px;
    height: 33px;

    cursor: pointer;
    background-color: var(--color);
}
.color[data-selected="true"], .add[data-selected="true"] {
    outline: 4px solid var(--selected);
    z-index: 9999; /* make the outline above other colors */
}
.color > box-icon, .add > box-icon {
    position: absolute;

    width: 100%;
    height: 100%;
}