.container {
    width: 100%;
    height: 100%;
}
.colors {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.color, .add {
    width: 30px;
    height: 30px;

    border: 2px solid var(--accent-1);
    cursor: pointer;
}
.color[data-selected="true"], .add[data-selected="true"] {
    border: 2px solid var(--selected);
}
.add > box-icon {
    width: 100%;
    height: 100%;
}