.container {
    --percent: 80%;

    max-width: 200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;

    position: relative;

    font-size: 14px;
}
.slider {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    margin: 0px;
    appearance: none;
    height: 100%;
    background-color: var(--bg-2);
    border: 2px solid var(--accent-2);
}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 2px;
    height: 25px;
}

.slider-bg {
    position: absolute;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);

    pointer-events: none;
}
.slider-bg>div {
    position: relative;
    width: var(--percent);
    background-color: var(--bg-3);
    height: 21px;
}
.slider-bg>div::after {
    width: 2px;
    height: 25px;
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: -2px;
    background-color: var(--accent-2);
}

.text {
    padding: 5px;
    position: absolute;
    top: 0px;

    max-width: 200px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    width: 100%;
}

.label {
    flex-grow: 1;
    user-select: none;
}

.number {
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0px;

    text-align: end;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    pointer-events: auto;

    position: absolute;
    right: 5px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
}